body{
    font-family: 'ZCOOL XiaoWei', serif;
    background-color: #903CA0;
    width: 100%;
    height:100%;
    margin:0px;
}

div{
    text-align: center;
}

h2{
    color: white;
}

/*header{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}*/

h1{
    list-style: none;
    font-style: italic;
    padding: 10px;
    margin: 0;
    text-align: center;
    color: white;
}

div{
    color: white;
    font-size: 15px;
}
.contact {
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.container{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background-color: white;
    align-items: center;
    flex-direction: row;
}

.pic{
    margin-right: 50px;
}

img{
     margin: 0 30px;
 }
  
* {
    box-sizing: border-box;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
  
.column {
      float: left;
      width: 80%;
      margin-top: 6px;
      padding: 20px;
  }

.row:after {
      content: "";
      display: table;
      clear: both;
  }
  
/* Menu CSS start*/
.nav-height {
  height:80px;
}
nav {
  width: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgb(237,211,192);
  -webkit-box-shadow: 0px 4px 15px 1px rgba(50,50,50,1);
  box-shadow: 0px 4px 15px 1px rgba(50,50,50,1);
  z-index: 100;
}
  nav>ul {
    width: 100%;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0px;
    text-decoration: none;
    padding: 0px;
  }
  
  
  nav>ul>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .menuItem {
    height:20px;
  }
  
  nav>ul>li>a {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: rgb(87, 25, 140);
  }
  nav img {
    height: 50px;
  }
  nav>ul>li:hover, nav>ul>li:active {
    background-color: rgba(187, 149, 219,0.6);
  }
  
  .mobileMenuItems>li:hover, mobileMenuItems>li:active {
    background-color: rgba(187, 149, 219,0.6);
  }

.menuIcon {
  display: none;
}

.menuBtn {
    position: absolute;
    left: -99999px;
}

.mobileMenu {
  display: none;
}
/* Menu CSS end*/


@media screen and (max-width: 998px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
  #cover {
      background-image: url(cover.png);
      background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    color: white;
    text-align: center;
  }
  #cover h1 {
      margin-top: 60px;
    height: 87px;
      font-size: 70px;
    font-family: 'Lobster', cursive;
  
  }
  #cover h2 {
    margin-top: 30px;
  }
  
  @media only screen and (max-width:768px) {
    /* Mobile Menu CSS start*/
    .nav-height {
      height: auto;
    }
    
    .nonMobileMenu {
      display: none;
    }
    
    
    .menuIcon:hover {
      cursor: pointer;
    }
    
    .menuIcon {
      display: block;
    }
    
    .navIcon {
      border: none;
      height: 50px;
      width: 50px;
      margin-left: 0px;
    }
    
    .menuBtn:checked ~ .mobileMenu {
      display: block;
    }
    
    .mobileMenu {
      width: 100%;
      padding: 0px;
    }
    
    .mobileMenuItems {
      display: flex;
      flex-direction: column;
      background-color:rgb(237,211,192);
      margin-bottom: 0px;
      list-style: none;
      padding: 0px;
    }
    
    .mobileMenuItems>li>a {
      padding: 30px;
      width: 100%;
      height: 100%;
      display:flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      color: rgb(87, 25, 140);
    }
    /* Mobile Menu CSS end*/

  }
