*{
  margin: 0px;
  padding: 0px;
  font-family: 'ZCOOL XiaoWei', serif;
  box-sizing: border-box;
}

body {
    font-family: 'ZCOOL XiaoWei', serif;
    background-color: #903CA0;
    margin: 0px;
    padding: 0px;
}

#overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  justify-content: center;
  z-index: 1000;
  overflow: hidden;
}

.formContainer, .recieptContainer {
  width: 100%;
  overflow: auto;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 1100;
  margin-bottom: 1000px;
  overflow: hidden;
}

#instructions {
  height: 75px;
}

.buyForm, .reciept {
  position: relative;
  top: 10px;
  display: flex;
  flex-direciton: column;
  flex-wrap: wrap;
	height: auto;
  margin: 10px;
	border: 1px solid black;
  background-color: #EDC0C4;
	min-width: 250px;
  max-height: 500px;
	box-shadow: 0px 4px 15px 1px rgba(50,50,50,1);
  z-index: 1110;
  overflow-y:auto;
}

.reciept {
  display: none;
}

#recieptAddress {
  white-space: pre;
}

.buyFormTitle {
  margin: 10px;
}

.formRow {
  flex-grow: 1;
  flex: 100%;
}

.labelCol {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.inputCol {
  float: left;
  width: 75%;
  margin-top: 6px;
}

input[type=text], select, textarea, input[type=number]{
  width: 75%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin: 10px;
}

input[type=submit] {
  float: right;
  height: 36px;
  width: 100px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  padding: 10px 32px;
  cursor: pointer;
  margin: 10px;
  right: 0;
  bottom: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

label {
  padding: 10px 10px 10px 0;
  margin-left: 10px;
  display: inline-block;
}

.reciept {
  padding: 10px;
}

.recieptTitle {
  text-align: center;
}

.recieptRow {
  display: flex;
  flex-direction: row;
  height: auto;
}

.recieptLabel, .recieptValue {
  flex: 50%;
}

.recieptValue {
  text-align: right;
  height: auto;
}

.addressContainer {
  display: flex;
}

.address {
  justify-self: end;
  white-space: pre;
}

/* Menu CSS start*/
.nav-height {
    height:80px;
  }
  nav {
    width: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgb(237,211,192);
    -webkit-box-shadow: 0px 4px 15px 1px rgba(50,50,50,1);
    box-shadow: 0px 4px 15px 1px rgba(50,50,50,1);
    margin-bottom: 30px;
    z-index: 100;
  }
    nav>ul {
      width: 100%;
      width: 100vw;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      margin: 0px;
      text-decoration: none;
      padding: 0px;
    }
    
    
    nav>ul>li {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
    }
    
    .menuItem {
      height:20px;
    }
    
    nav>ul>li>a {
      width: 100%;
      height: 100%;
      display:flex;
      justify-content: center;
      align-items: center;
      margin: 0px;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      color: rgb(87, 25, 140);
    }
    nav img {
      height: 50px;
    }
    nav>ul>li:hover, nav>ul>li:active {
      background-color: rgba(187, 149, 219,0.6);
    }
    
    .mobileMenuItems>li:hover, mobileMenuItems>li:active {
      background-color: rgba(187, 149, 219,0.6);
    }
  
  .menuIcon {
    display: none;
    margin: 0px;
  }
  
  .menuBtn {
      position: absolute;
      left: -99999px;
  }
  
  .mobileMenu {
    display: none;
  }
/* Menu CSS end*/

.pageContainer {
  margin: 0px;
  padding: 0px;
  background-color: #903CA0;
  height: 100%;
  width: auto;
}


.productsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  background-color: #903CA0;
  margin: 0px;
}

.product {
	height: auto;
	margin: 10px;
	border: 1px solid black;
  background-color: #EDC0C4;
	max-width: 300px;
	box-shadow: 0px 4px 15px 1px rgba(50,50,50,1)
}

.productInfoContainer {
	margin: 5px;
	padding: 5px;
	display: flex;
	flex-direction: column;
  height: 100%;
  width: 100%;
}

.productImg {
	height: 200px;
	width: 200px;
	border: 2px solid black;
}

.productDesc {
	display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
  flex-grow: 1;
}

.btnContainer {
  position: relative;
  
}

.buyBtn {
  height: 36px;
  width: 100px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  padding: 10px 32px;
  cursor: pointer;
  margin: 5px;
  position:absolute;
  right: 0;
  bottom: 0;
}

@keyframes slide-up {
	from {
		margin-top: 10%;
		height: 100%;
		opacity: 0;
	}
	to {
		margin-top: 10px;
		height: 100%;
		opacity: 1;
	}
}

@media only screen and (min-width: 992px) {
	
	.productsContainer {
		flex-direction: column;
    align-items: center;
		flex-wrap: wrap;
	}
	
	.productInfoContainer {
		flex-direction: row;
	}
	
	.product {
		flex-grow: 1;
		flex: 50%;
		max-width: 1000px;
		animation: slide-up 1s;
	}
	
	.productImg {
		height: auto;
		margin-right: 10px;
	}
  
  .buyForm, .reciept {
    flex-grow: 1;
		flex: 50%;
    max-width: 750px;
  }
  
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
	.productsContainer {
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	.productInfoContainer {
		flex-direction: column;
	}
	
	.product {
		flex-grow: 1;
		flex: 50%;
		animation: slide-up 1s;
	}
	
	.productImg {
		height: auto;
	}
  
  .buyBtn {
    position: static;
  }
  
  .buyForm {
    flex-grow: 1;
		flex: 50%;
    max-width: 500px;
  }
  
  .formRow {
    display: flex;
    flex-direction: column;
  }
  
  .labelCol, .inputCol {
    flex: 100%;
    margin-top: 0;
  }
  
  .labelCol {
    justify-self: left;
  }
  
  
  .inputCol {
    width: 100%;
    display: flex;
  }
  
  input[type=text], select, textarea, input[type=number]{
    flex-grow: 1;
    /*justify-self: center;*/
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
}

@media only screen and (max-width: 600px) {
  .productsContainer {
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	.productInfoContainer {
		flex-direction: column;
    margin: 0px;
	}
	
	.product {
		flex-grow: 1;
		flex: 50%;
		animation: slide-up 1s;
	}
	
	.productImg {
		height: auto;
	}
  
  .buyBtn {
    position: static;
  }
  /* additional stuff for this page*/
  .productsContainer {
    margin-top: 60px;
  }
  
  /* Mobile Menu CSS start*/
  .nav-height {
    height: auto;
  }
  
  .nonMobileMenu {
    display: none;
  }
  
  
  .menuIcon:hover {
    cursor: pointer;
  }
  
  .menuIcon {
    display: block;
    padding: 0px;
  }
  
  .navIcon {
    border: none;
    height: 50px;
    width: 50px;
  }
  
  .menuBtn:checked ~ .mobileMenu {
    display: block;
  }
  
  .mobileMenu {
    width: 100%;
    padding: 0px;
  }
  
  .mobileMenuItems {
    display: flex;
    flex-direction: column;
    background-color:rgb(237,211,192);
    margin-bottom: 0px;
    list-style: none;
    padding: 0px;
  }
  
  .mobileMenuItems>li>a {
    padding: 30px;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: rgb(87, 25, 140);
  }
  /* Mobile Menu CSS end*/
  
  .buyForm {
    flex-grow: 1;
		flex: 50%;
    max-width: 500px;
  }
  
  .formRow {
    display: flex;
    flex-direction: column;
  }
  
  .labelCol, .inputCol {
    flex: 100%;
    margin-top: 0;
  }
  
  .labelCol {
    justify-self: left;
    width: 100%;
  }
  
  
  .inputCol {
    width: 100%;
    display: flex;
  }
  
  input[type=text], select, textarea, input[type=number]{
    flex-grow: 1;
    /*justify-self: center;*/
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  .recieptContainer, .formContainer, recieptContainer {
    max-height: 480px;
  }
  
  .reciept {
    max-height: 480px;
  }
  
}