* {
  box-sizing: border-box;
}

body {
    font-family: 'ZCOOL XiaoWei', serif;
    background-color: #903CA0;
    margin: 0px;
    padding: 0px;
}
main {
    width: 100%;
    height: 100%;
}
h1 {
    color: white;
    display: flex;
    justify-content: center;
}
.question {
    height: auto;
    margin: 10px;
    padding: 10px;
	border: 1px solid black;
    background-color: #EDC0C4;
	max-width: 300px;
	box-shadow: 0px 4px 15px 1px rgba(50,50,50,1)
}
hr {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    border: 0;
} 
.truefalse {
    display:block;
    margin:auto;
    font-family: 'ZCOOL XiaoWei', serif;
    height: 30px;
    width: 90px;
}
#questionBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
}
#submit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin: 10px;
    padding: 10px;
	border: 1px solid black;
    background-color: #EDC0C4;
	max-width: 300px;
    box-shadow: 0px 4px 15px 1px rgba(50,50,50,1);
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 700;
}
#submit:hover {
    background-color: rgba(237, 192, 196, .7);
}
/* Menu CSS start*/
.nav-height {
    height:80px;
  }
  nav {
    width: 100%;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgb(237,211,192);
    -webkit-box-shadow: 0px 4px 15px 1px rgba(50,50,50,1);
    box-shadow: 0px 4px 15px 1px rgba(50,50,50,1);
    margin-bottom: 30px;
    z-index: 100;
  }
    nav>ul {
      width: 100%;
      width: 100vw;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      list-style-type: none;
      margin: 0px;
      text-decoration: none;
      padding: 0px;
    }
    
    
    nav>ul>li {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
    }
    
    .menuItem {
      height:20px;
    }
    
    nav>ul>li>a {
      width: 100%;
      height: 100%;
      display:flex;
      justify-content: center;
      align-items: center;
      margin: 0px;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      color: rgb(87, 25, 140);
    }
    nav img {
      height: 50px;
    }
    nav>ul>li:hover, nav>ul>li:active {
      background-color: rgba(187, 149, 219,0.6);
    }
    
    .mobileMenuItems>li:hover, mobileMenuItems>li:active {
      background-color: rgba(187, 149, 219,0.6);
    }
  
  .menuIcon {
    display: none;
  }
  
  .menuBtn {
      position: absolute;
      left: -99999px;
  }
  
  .mobileMenu {
    display: none;
  }
  /* Menu CSS end*/
  @media only screen and (max-width:600px) {
    h1 {
        margin: auto;
        padding: 10px;
        margin-top: 60px;
    }
    /* Mobile Menu CSS start*/
    .nav-height {
      height: auto;
    }
    
    .nonMobileMenu {
      display: none;
    }
    
    .menuIcon:hover {
      cursor: pointer;
    }
    
    .menuIcon {
      display: block;
    }
    
    .menuBtn:checked ~ .mobileMenu {
      display: block;
    }
    
    .mobileMenuItems {
      display: flex;
      flex-direction: column;
      background-color:rgb(237,211,192);
      margin-bottom: 0px;
      list-style: none;
      width: 100%;
      padding: 0;
    }
    
    .mobileMenuItems>li>a {
      padding: 30px;
      width: 100%;
      height: 100%;
      display:flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      color: rgb(87, 25, 140);
    }
    /* Mobile Menu CSS end*/
  }